[job_logger]
name = historical stock price analysis
project = de-take-home-assessment


[aws_credential]
aws_access_key_id=aws_access_key_id
aws_secret_access_key=aws_secret_access_key
region_name = region_name

[client_parameter]
db_params = {
        'DBInstanceIdentifier': 'PostgresInstance',
         'DBName': 'db_name',
         'Engine': 'postgres',
        'DBInstanceClass': 'db.t3.micro',
         'MasterUsername': 'username',
        'MasterUserPassword': 'password',
         'AllocatedStorage': 20,
         'VpcSecurityGroupIds': security_group,
         'AvailabilityZone': 'region_name',
     }

[postgres_credential]
host = host
database = database
user = user
password = password
